<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>《阴阳师》首页官网</title>
<link rel="stylesheet" href="../../static/riovox/css/index.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	//新版本图片移动
	$(document).ready(function(){
 		$(".inner-content").mouseenter(function(){
		$(this).animate({bottom	:'+=100px'});
	}).mouseleave(function(){
		$(this).animate({bottom:'-=100px'});
	});});
</script>
</head>

<body>
<!--网易头-->
<div class="topBar-main" id="topBar-main"> <a class="topBar-logo" href="http://game.163.com/" target="_blank"></a> </div>
<div class="pagebg"> 
  <!--第一块-->
  <div class="first-page"> <a class="logo" href="//yys.163.com/index.html" target="_blank"></a> <a class="home-page" href="home.html" target="_blank"></a> </div>
  <!--第二块-->
  <div class="second-page">
    <div class="title"></div>
    <div class="content"> <a href="#">
      <div class="inner-content"> <img src="../../static/riovox/image/btn01_a66f3f9.png" alt="">
        <div><span>了解更多</span></div>
      </div>
      </a> <a href="#">
      <div class="inner-content">
        <div><span>了解更多</span></div>
        <img src="../../static/riovox/image/btn02_600e548.png" alt=""> </div>
      </a> <a href="#">
      <div class="inner-content">
        <div><span>了解更多</span></div>
        <img src="../../static/riovox/image/btn03_8717516.png" alt=""> </div>
      </a> <a href="#">
      <div class="inner-content"> <img src="../../static/riovox/image/btn04_1145789.png" alt="">
        <div><span>了解更多</span></div>
      </div>
      </a> </div>
  </div>
  <!--第三块-->
  <div class="third-page">
    <div class="title">
      <div class="box">
        <div class="list">
          <ul>
            <li class="p5"><a href="#"><img src="../../static/riovox/image/banner5.jpg" alt="" /></a></li>
            <li class="p4"><a href="#"><img src="../../static/riovox/image/banner4.jpg" alt="" /></a></li>
            <li class="p3"><a href="#"><img src="../../static/riovox/image/banner3.jpg" alt="" /></a></li>
            <li class="p2"><a href="#"><img src="../../static/riovox/image/banner2.jpg" alt="" /></a></li>
            <li class="p1"><a href="#"><img src="../../static/riovox/image/banner1.jpg" alt="" /></a></li>
          </ul>
        </div>
        <a href="javascript:;" class="prev btn" style="position: relative;left: -450px;top: 404px;"><img src="../../static/riovox/image/left.png" alt=""></a> <a href="javascript:;" class="next btn" style="position: relative;right: -850px;top: 404px;"><img src="../../static/riovox/image/right.png" alt=""></a> </div>
    </div>
  </div>
<!--尾部-->
<div class="footer">
		<div class="part1">
			<span class="logo">
			<a href="http://www.163.com" target="_blank"><img src="https://nie.res.netease.com/comm/NIE_copyRight/images/netease.2.png"></a><a href="http://game.163.com" target="_blank"><img src="https://nie.res.netease.com/comm/NIE_copyRight/images/nie.2.png"></a><a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/700E4EB3C85B469E84A28595D0F16CFC" target="_blank"><img src="https://nie.res.netease.com/comm/NIE_copyRight/images/wen.png"></a><a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/gameNetTag/4028c08b55c482780155c9951fca2305" target="_blank"><img src="https://nie.res.netease.com/comm/NIE_copyRight/images/wen2.png"></a>
			</span>
			<span>
				<i>
				<a href="http://gb.corp.163.com/gb/about/overview.html" target="_blank">公司简介</a> - <a href="http://help.163.com/" target="_blank">客户服务</a> - <a href="http://gb.corp.163.com/gb/legal.html" target="_blank">相关法律</a> - <a href="http://game.163.com/about/" target="_blank">网易游戏</a> - <a href="http://game.163.com/contact/" target="_blank">联系我们</a> - <a href="http://game.163.com/contact/business.html" target="_blank">商务合作</a> - <a href="http://hr.game.163.com/index.html" target="_blank">加入我们</a> - <a href="http://update.unisdk.163.com/html/latest_v5.html" target="_blank">用户协议</a>
				</i>
				<br>
			</span>
		</div>
		<div class="white"><p>本游戏适合16岁以上的玩家进入。</p><p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。</p><a href="http://game.163.com/news/2010/6/9/442_216957.html" target="_blank">《网络游戏管理暂行办法》</a> <span>文网游备字【2016】M-RPG4708号</span> <span>《网络文化经营许可证》</span> <span>浙网文[2019]1372-138号</span> <span>批准文号：新广出审【2017】6710号</span> <span>出版物号：ISBN 978-7-7979-9973-1</span> <a href="https://game.16163.com/report/" target="_blank">违法及不良信息举报中心</a> </div>
	</div>
</div>

<!--轮播图--> 
<script>
var $a=$(".buttons a");
var $s=$(".buttons span");
var cArr=["p5","p4","p3","p2","p1"];
var index=0;
$(".next").click(
	function(){
	nextimg();
	}
)
$(".prev").click(
	function(){
	previmg();
	}
)
//上一张
function previmg(){
	cArr.unshift(cArr[4]);
	cArr.pop();
	//i是元素的索引，从0开始
	//e为当前处理的元素
	//each循环，当前处理的元素移除所有的class，然后添加数组索引i的class
	$("li").each(function(i,e){
		$(e).removeClass().addClass(cArr[i]);
	})
	index--;
	if (index<0) {
		index=4;
	}
	show();
}

//下一张
function nextimg(){
	cArr.push(cArr[0]);
	cArr.shift();
	$("li").each(function(i,e){
		$(e).removeClass().addClass(cArr[i]);
	})
	index++;
	if (index>4) {
		index=0;
	}
	show();
}

//通过底下按钮点击切换
$a.each(function(){
	$(this).click(function(){
		var myindex=$(this).index();
		var b=myindex-index;
		if(b==0){
			return;
		}
		else if(b>0) {
			/*
			 * splice(0,b)的意思是从索引0开始,取出数量为b的数组
			 * 因为每次点击之后数组都被改变了,所以当前显示的这个照片的索引才是0
			 * 所以取出从索引0到b的数组,就是从原本的这个照片到需要点击的照片的数组
			 * 这时候原本的数组也将这部分数组进行移除了
			 * 再把移除的数组添加的原本的数组的后面
			 */
			var newarr=cArr.splice(0,b);
			cArr=$.merge(cArr,newarr);
			$("li").each(function(i,e){
			$(e).removeClass().addClass(cArr[i]);
			})
			index=myindex;
			show();
		}
		else if(b<0){
			/*
			 * 因为b<0,所以取数组的时候是倒序来取的,也就是说我们可以先把数组的顺序颠倒一下
			 * 而b现在是负值,所以取出索引0到-b即为需要取出的数组
			 * 也就是从原本的照片到需要点击的照片的数组
			 * 然后将原本的数组跟取出的数组进行拼接
			 * 再次倒序,使原本的倒序变为正序
			 */
			cArr.reverse();
			var oldarr=cArr.splice(0,-b)
			cArr=$.merge(cArr,oldarr);
			cArr.reverse();
			$("li").each(function(i,e){
			$(e).removeClass().addClass(cArr[i]);
			})
			index=myindex;
			show();
		}
	})
})


//点击class为p2的元素触发上一张照片的函数
$(document).on("click",".p2",function(){
	previmg();
	return false;//返回一个false值，让a标签不跳转
});

//点击class为p4的元素触发下一张照片的函数
$(document).on("click",".p4",function(){
	nextimg();
	return false;
});

//			鼠标移入box时清除定时器
$(".box").mouseover(function(){
	clearInterval(timer);
})

//			鼠标移出box时开始定时器
$(".box").mouseleave(function(){
	timer=setInterval(nextimg,4000);
})

//			进入页面自动开始定时器
timer=setInterval(nextimg,4000);	
</script>
</body>
</html>
