<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../static/yys/css/home.css">
<link rel="stylesheet" href="../../static/yys/css/index.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>《阴阳师》手游官网</title>
</head>

<body>
<div class="topBar-main" id="topBar-main"> <a class="topBar-logo" href="http://game.163.com/" target=""></a> </div>
<!--导航栏-->
<div class="topbar">
  <div class="title-summary container"> <a href="#" class="active1"> 官网首页 </a> <a> 新闻资讯 </a> <a> 式神录 </a> <a> 游戏攻略 </a> <a> 同人社区 </a> <a> 泛娱乐 </a> <a> 视听中心 </a> <a> 周边商城 </a> <a> 藏宝阁 </a> <a> 官方渠道 </a> <a> IP游戏 </a> </div>
  <div id="banner-top1" class="title-banner"> <a href="https://pages.kaola.com/pages/activity/4a04fad3eee34d7999b0164383aa8ed0.shtml?tag=fcffdc502dc282756478d8592d7085fa&__da_ea6fee68_5af84a3a2af92c00"> <img src="../../static/yys/image/fff8d34f-cd9e-4b8c-9512-2cb2d2a8b31f.jpg" alt=""> <img src="../../static/yys/image/2.jpg" alt=""> <img src="../../static/yys/image/3.jpg" alt=""> <img src="../../static/yys/image/d14fbcc2-2896-426d-902b-63b553dda3a7.gif" alt=""> <img src="../../static/yys/image/5.jpg" alt=""> </a> </div>
  <div id="banner-top2" class="title-banner"> <img src="../../static/yys/image/ss_1_2fa7e81.jpg" alt=""> <img src="../../static/yys/image/ss_2_a4916b4.jpg" alt=""> <img src="../../static/yys/image/ss_3_017abcd.jpg" alt=""> <img src="../../static/yys/image/ss_5_c5d311e.jpg" alt=""> <img src="../../static/yys/image/ss_6_0364095.jpg" alt=""> <img src="../../static/yys/image/ss_7_b15e26d.jpg" alt=""> </div>
</div>

<!--左下角和右下角的gif图-->
<div class="pet-div">
  <div class="left-pet-view animate-top"><img src="../../static/yys/image/left-pet.gif" alt=""></div>
  <div class="right-pet-view animate-top"><img src="../../static/yys/image/right-pet.gif" alt=""></div>
</div>

<!--导航栏下面的banner-->
<div class="main-img"> 
  <!--三张变化的大图-->
  <div class="img1"></div>
  <div class="img2"></div>
  <div class="img3"></div>
  <!--图片下的新闻栏、二维码下载栏-->
  <div class="under-img-news">
    <div class="container">
      <div class="download-target">
        <p class="download-game">下&nbsp载&nbsp游&nbsp戏</p>
        <img class="download1" src="../../static/yys/image/QR-code.png" alt=""> <img class="download2" src="../../static/yys/image/download-homepage.jpg" alt=""> </div>
      <div class="news-report">新闻资讯<span></span></div>
      <!--新闻栏-->
      <div class="news-box">
        <ul class="news-banner">
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
          <li class="news"> <a href="#">
            <h2>新闻 | 铃鹿山之谜《阴阳师》三句谜语话题活动开启！</h2>
            <p>鬼船忽然出现在海面上，百万妖军正驾浪驶向平安京。此次入侵的庞大海国之师，正是来自那个海雾之中的神秘传说——铃鹿山。世代生活在这……</p>
            <span class="arrow"></span> </a> </li>
        </ul>
      </div>
      <div class="next-and-pre"> <a href="javascript:;" id="pre">上一批</a> <a href="javascript:;" id="next">下一批</a> <span style="color:#FFF">&nbsp&nbsp|&nbsp&nbsp</span> <a href="https://yys.163.com/news/index.html"><img src="../../static/yys/image/icon-most.png" alt="">&nbsp更多</a> </div>
    </div>
  </div>
</div>
<!--主部分-->
<div class="container"> 
  <!--平安世界部分-->
  <div class="peace-world">
    <div class="peace-world-title"></div>
    <!--标题栏-->
    <div class="title-content">
      <div class="option"><span class="active">式神录</span></div>
      <div class="option"><span>主角录</span></div>
      <div class="option"><span>声优录</span></div>
    </div>
    <div class="search">
      <input type="text" value="大天狗">
      <img class="float-right" src="../../static/yys/image/search.png" alt=""></div>
    <div class="left-button"></div>
    <div class="gold-bg">
      <div>
        <div class="left-img "></div>
        <div class="right-img"></div>
      </div>
    </div>
    <div class="right-button"></div>
  </div>
  <!--游戏攻略部分-->
  <div class="game-data"> 
    <!--最上-->
    <div class="top">
      <div class="title"></div>
      <div class="part-of-img"> <a href="#">
        <div class="one-part"> <img src="../../static/yys/image/data1.jpg" alt="">
          <!--标签--> <span class="first-tip">大&nbsp岳&nbsp丸&nbsp技&nbsp能</span> <span class="second-tip">久&nbsp次&nbsp良&nbsp技&nbsp能</span> </div>
        </a> <a href="#">
        <div class="one-part"> <img src="../../static/yys/image/data2.jpg" alt=""> <span class="first-tip">海&nbsp国&nbsp退&nbsp治</span> <span class="second-tip">超&nbsp鬼&nbsp王&nbsp征&nbsp伐</span> </div>
        </a> <a href="#">
        <div class="one-part"> <img src="../../static/yys/image/data3.jpg" alt=""> <span class="first-tip">海&nbsp之&nbsp旅&nbsp探&nbsp索</span> <span class="second-tip">海&nbsp图&nbsp退&nbsp治</span> </div>
        </a> </div>
    </div>
    <!--中间-->
    <div class="center">
      <ul class="clr">
        <!--标题-->
        <li class="active"><a href="http://yys.163.com/skill/index.html" title="最新">最新<i></i></a></li>
        <li><a href="http://yys.163.com/skill/fresh/index.html" title="萌新上路">萌新上路<i></i></a></li>
        <li><a href="http://yys.163.com/skill/yuhun/index.html" title="式神御魂">式神御魂<i></i></a></li>
        <li><a href="http://yys.163.com/skill/wanfa/index.html" title="秘闻副本">秘闻副本<i></i></a></li>
        <li><a href="http://yys.163.com/skill/douji/index.html" title="斗技阵容">斗技阵容<i></i></a></li>
      </ul>
    </div>
    <div style="width: 100%;height: 44px;"></div>
    <!--底部--> 
    <!--第一块-->
    <div class="bottom"> <a href="https://yys.163.com/skill/huodong/20190710/23030_822027.html">
      <div class="news-block">
        <p>【玩法】【已授权】鬼灵歌伎SP妖刀点怪技巧</p>
        <span>作者：大神-CC落华生</span></div>
      </a> <a href="https://yys.163.com/skill/huodong/20190710/23030_822027.html">
      <div class="news-block">
        <p>【玩法】【已授权】鬼灵歌伎SP妖刀点怪技巧</p>
        <span>作者：大神-CC落华生</span></div>
      </a> <a href="https://yys.163.com/skill/huodong/20190710/23030_822027.html">
      <div class="news-block">
        <p>【玩法】【已授权】鬼灵歌伎SP妖刀点怪技巧</p>
        <span>作者：大神-CC落华生</span></div>
      </a> <a href="https://yys.163.com/skill/huodong/20190710/23030_822027.html">
      <div class="news-block">
        <p>【玩法】【已授权】鬼灵歌伎SP妖刀点怪技巧</p>
        <span>作者：大神-CC落华生</span></div>
      </a> <a href="https://yys.163.com/skill/huodong/20190710/23030_822027.html">
      <div class="news-block">
        <p>【玩法】【已授权】鬼灵歌伎SP妖刀点怪技巧</p>
        <span>作者：大神-CC落华生</span></div>
      </a> <a href="https://yys.163.com/skill/huodong/20190710/23030_822027.html">
      <div class="news-block">
        <p>【玩法】【已授权】鬼灵歌伎SP妖刀点怪技巧</p>
        <span>作者：大神-CC落华生</span></div>
      </a> </div>
  </div>
  <!--同人手帐部分-->
  <div class="tongren-part">
    <div class="title"></div>
    <!--热门活动、热门作品标题栏-->
    <div class="title-top">
      <div class="left-title">
        <h2>热门活动</h2>
        <div class="title-button"> <span></span> <span></span> <span></span> </div>
      </div>
      <div class="right-title">
        <h2>热门作品</h2>
        <div class="title-right-target"> <a href="#https://yys.163.com/tongren/search.html?keyword=%E5%A4%A7%E5%B2%B3%E4%B8%B8">#新SSR大岳丸#</a> </div>
        <div class="title-right-target"> <a href="https://yys.163.com/tongren/search.html?keyword=%E5%A4%A7%E6%B1%9F%E5%B1%B1%E9%9F%B3%E4%B9%90%E5%89%A7">#大江山音乐剧#</a> </div>
        <div class="title-right-target"> <a href="https://yys.163.com/tongren/search.html?keyword=%E9%B8%A3%E6%97%97%E6%88%AE%E9%A3%8E">#鬼切新皮肤#</a> </div>
      </div>
    </div>
    <!--同人活动图片部分-->
    <div class="tongren-acitivy-img">
      <div class="tongren-img1"></div>
      <div class="tongren-img2"></div>
      <div class="tongren-img3"></div>
    </div>
    <!--热门作品部分-->
    <div class="right-tongren-acitivy-img">
      <div class="tongren-remen" style="margin-left: 0px;"> <img src="../../static/yys/image/ad7e8e65-56b3-4ac1-8ffd-14c6e960f740.jpg" alt="">
        <div class="under-tongren-img">
          <p>点墨竹童</p>
          <span>作者：Oo眠君oO</span> </div>
        <div class="fire-and-count"> <img src="../../static/yys/image/fire.png" alt="">
          <h5>260</h5>
        </div>
      </div>
      <div class="tongren-remen"> <img src="../../static/yys/image/11fe0558-94b7-4aa7-a5e6-9e100a19194b.jpg" alt="">
        <div class="under-tongren-img">
          <p>黑白阿爸</p>
          <span>作者：Koch扣取</span> </div>
        <div class="fire-and-count"> <img src="../../static/yys/image/fire.png" alt="">
          <h5>263</h5>
        </div>
      </div>
      <div class="tongren-remen"> <img src="../../static/yys/image/d1cb3fc6-a886-4070-82b3-345f8d9fcb8d.jpg" alt="">
        <div class="under-tongren-img">
          <p>大舅</p>
          <span>作者：LaOShAn墨</span> </div>
        <div class="fire-and-count"> <img src="../../static/yys/image/fire.png" alt="">
          <h5>255</h5>
        </div>
      </div>
    </div>
  </div>
  <!--同人大触部分-->
  <div class="part-tongren-boss">
    <div class="tongren-boss-title">
      <h2>同人大触&nbsp&nbsp|&nbsp&nbsp</h2>
      <img src="../../static/yys/image/weibo_icon.png" alt=""> <span>阴阳师手游同人帐&nbsp&nbsp</span> <img src="../../static/yys/image/yrz_e801559.png" alt=""> <span id="small-app">阴阳师友人帐</span> <img class="when-mouse-enter-tongren-friend" src="../../static/yys/image/yrx_xcx_19bd332.jpg" alt=""> </div>
    <!--大触们-->
    <div class="tongren-boss-content">
      <div class="dachus">
        <div class="headimg"><img src="../../static/yys/image/f38e4146-b2c6-4b66-a3af-c4bb67b688b0.jpg" alt=""><span>想不到名的阿八</span></div>
      </div>
      <div class="dachus">
        <div class="headimg"><img src="../../static/yys/image/e04e02fd-2ce3-490f-a586-002c43e5a7cd.jpg" alt=""><span>半仙又帅又能打</span></div>
      </div>
      <div class="dachus1">
        <div class="headimg"><img src="../../static/yys/image/54a8d80b-b506-4924-a3f6-b616f2f263ff.jpg" alt=""><span>椿煊椿煊椿煊</span></div>
      </div>
      <div class="dachus2">
        <div class="headimg"><img src="../../static/yys/image/2bb55b68-19c4-4f64-8108-12381bea861b.jpg" alt=""><span>东帝沧阳大哥</span></div>
      </div>
      <div class="dachus3">
        <div class="headimg"><img src="../../static/yys/image/d5b91864-2837-45c3-b6a7-53971800fe39.jpg" alt=""><span>个人存档处啊</span></div>
      </div>
    </div>
  </div>
  <!--视听盛宴部分-->
  <div class="video-and-music">
    <div class="title"></div>
    <div class="right-box">
      <div class="one-of-video"><img src="../../static/yys/image/521395d2-d353-463f-a20f-5131cc25550c.gif" alt=""><span><i></i>海国篇：海国侵袭</span></div>
      <div class="one-of-video"><img src="../../static/yys/image/cd157d16-c630-4942-946a-1ea62ac3fb68.png" alt=""><span><i></i>驭霆之风：苍风一目连</span></div>
      <div class="one-of-video"><img src="../../static/yys/image/dc60be6b-250b-4ac1-995e-7f6f3dd5be39.gif" alt=""><span><i></i>不知谁歌，星火起舞</span></div>
      <div class="one-of-video"><img src="../../static/yys/image/6f619e4f-b356-446e-b61a-5cacc7fd889e.png" alt=""><span><i></i>稻荷神临：稻荷神御馔津</span></div>
    </div>
    <a href="https://yys.163.com/media/">
    <div class="more-content"> <span>更多内容</span>
      <div class="arrow"></div>
    </div>
    </a> </div>
  <!--泛娱乐部分-->
  <div class="fun-part">
    <div class="title"></div>
    <div class="fun-box">
      <ul>
        <li class="animate-top" style="color:#967f48;"> <a href="https://yys.163.com/btyy/anime.html"></a> <img src="../../static/yys/image/e8985f58-81c3-4366-8fef-791423c01b3e.gif" alt=""> <span>泡面番</span>
          <p>平安物语</p>
        </li>
        <li class="animate-top" style="color:#8da26d;"> <a href="https://yys.163.com/btyy/anime.html"></a> <img src="../../static/yys/image/b94fe4de-0b77-446c-a898-5095bcf3a458.png" alt=""> <span>官方漫画</span>
          <p>漫画</p>
        </li>
        <li class="animate-top" style="color:#003567;"> <a href="https://yys.163.com/btyy/anime.html"></a> <img src="../../static/yys/image/47205c2d-dde2-478d-b09f-7cad2f7c5ea3.png" alt=""> <span>音乐剧</span>
          <p style="font-size: 20px;">大江山之章</p>
        </li>
        <li class="animate-top" style="color:#cfa972;"> <a href="https://yys.163.com/btyy/anime.html"></a> <img src="../../static/yys/image/43eb59ae-19e6-4508-9c6e-fe4afe9b3355.png" alt=""> <span>官方合作</span>
          <p>纸筒人</p>
        </li>
        <li class="animate-top" style="color:#5b7e91;"> <a href="https://yys.163.com/btyy/anime.html"></a> <img src="../../static/yys/image/f3f34f59-9ed1-464f-84c1-c0d49f8f5f8e.png" alt=""> <span>跨越次元</span>
          <p style="font-size: 20px;">线下大事件</p>
        </li>
        <li class="animate-top" style="color:#c1865c;"> <a href="https://yys.163.com/btyy/anime.html"></a> <img src="../../static/yys/image/a1d6f536-8af7-4970-b863-05114528bce0.png" alt=""> <span>平安京电台</span>
          <p style="font-size: 20px;">京都放映町</p>
        </li>
      </ul>
    </div>
    <a href="javascript:;" class="fun-part-left-bt"></a> <a href="javascript:;" class="fun-part-right-bt"></a> </div>
  <!--京都商业街部分-->
  <div class="part-jingdu">
    <div class="title"></div>
    <!-- 商品列表-->
    <div id="good-list" class="goods-list-wrapper">
      <div class="goods-list">
        <div class="one-goods animate-top"> <img src="../../static/yys/image/604994d2-920e-4e35-8ce7-c4987a456c82.jpg" alt="">
          <p>阴阳师御馔津公仔两件套</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/c59e7a39-912b-4c8c-9b4c-ddad9a3e1e56.jpg" alt="">
          <p>阴阳师大天狗叽公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/0fe3bef1-d528-4a69-b4d6-3142cdcaac53.jpg" alt="">
          <p>阴阳师黑茨球公仔（大）</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/6854714c-17d9-4def-a42d-42bbb991db61.png" alt="">
          <p>阴阳师恋爱御守</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/7164a264-05ae-4eb1-9d30-3616e9360d15.jpg" alt="">
          <p>阴阳师荒骷髅公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/df9513e0-0c0e-41f8-8180-03934a269367.jpg" alt="">
          <p>阴阳师石距公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/5859bfd1-ac51-4dc0-b127-a44586010cb8.jpg" alt="">
          <p>阴阳师神乐粘土手办</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/51efd58e-4ba1-41d8-9610-1e0b23a5194e.jpg" alt="">
          <p>阴阳师达摩印章</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/318e35f7-b838-448f-a16a-fcb80d8db108.jpg" alt="">
          <p>阴阳师式神纸筒人</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/413ec592-c2cd-4167-a758-d591b6e84aad.png" alt="">
          <p>达摩黄金转运珠</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/4a3655ad-483c-4e56-bb29-abfd9c133f4f.png" alt="">
          <p>茨球公仔（大）</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/f1b78c26-b3bd-4af6-b465-4a3521af611a.jpg" alt="">
          <p>阴阳师式神立牌</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/604a02fd-582f-401f-affb-a2f256daacf4.jpg" alt="">
          <p>阴阳师山兔发声公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/a8ad99f5-f205-4600-8fe9-29471471ff13.jpg" alt="">
          <p>阴阳师犬神大公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/13ea2d9e-eea3-48f0-8101-4cf59c15919a.jpg" alt="">
          <p>阴阳师犬神大公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/14f10900-b25e-4810-a1ad-13e9f8081017.jpg" alt="">
          <p>阴阳师达摩宠物项圈</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/7fbb2069-15bc-42bb-b487-b11c73f6d348.jpg" alt="">
          <p>阴阳师主题文字T恤-破势</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/10531331-1bff-4181-b7d3-0ab86854f55c.jpg" alt="">
          <p>阴阳师和风棉麻家居服</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/4214bd9c-fe7a-4520-a9f1-6025a9da63e2.jpg" alt="">
          <p>阴阳师达摩异形抱枕</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/5f5f50a5-3c2c-4a4f-9bf7-b271fd9f6299.png" alt="">
          <p>占位小鬼大公仔</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/589cb248-75b8-4669-92af-7840c3a11c6e.png" alt="">
          <p>平安绘卷角色徽章</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/a3bebc38-6029-4e94-a0d8-f58883e30b7a.png" alt="">
          <p>和风樱花小圆包</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/c3b7d88a-bf3b-46c4-bdb9-f546d5332467.png" alt="">
          <p>鬼使黑双肩包</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/6854714c-17d9-4def-a42d-42bbb991db61.png" alt="">
          <p>神秘符咒925银吊坠</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/b786b1b1-cba7-4ed8-8538-fcda81a46231.png" alt="">
          <p>软抽面巾纸五包装</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/47b18e5a-f0c7-4620-84ad-4fe21cf5632c.png" alt="">
          <p>和风主题扇-脸狐</p>
        </div>
        <div class="one-goods animate-top"> <img src="../../static/yys/image/c36d33db-b0ae-4825-8bb8-b71ec9801968.png" alt="">
          <p>御灵U型颈枕-神龙</p>
        </div>
      </div>
    </div>
  </div>
  <!--二维码部分-->
  <div class="qr-code-part">
    <div class="qr-code-bg"> 
      <!--官方微博二维码-->
      <div class="weibo-qr">
        <div class="inner-weibo-qr"> <a href="https://weibo.com/yys163?refer_flag=1001030101_"> <span class="first-text">关注官方微博</span> <span class="second-text">扫描二维码</span> <span class="third-text">官方微博</span> <img class="qr-code-positon" src="../../static/yys/image/code_wb_936b4ac.jpg" alt="官方微博二维码"> </a> </div>
        <div class="bottom-text"> 官方微博： <span>网易阴阳师手游</span> </div>
      </div>
      <!--微信二维码-->
      <div class="weixin-qr">
        <div class="inner-weixin-qr"> <span class="first-text">关注微信公众号</span> <span class="second-text">扫描二维码</span> <span class="third-text">微信公众号</span> <img class="qr-code-positon" src="../../static/yys/image/code_wx_ff29145.jpg" alt="官方微博二维码"> </div>
        <div class="bottom-text"> 公众号： <span>yinyangshi163</span> </div>
      </div>
      <!--中间的小人儿-->
      <div class="role"> <a href="javascript:;" class="show-role"></a> 
        <!--点击生成对话-->
        <div class="word item1"></div>
        <div class="word item2"></div>
        <div class="word item3"></div>
        <div class="word item4"></div>
        <div class="word item5"></div>
        <div class="word item6"></div>
      </div>
      <!--客服热线-->
      <div class="service-num">
        <div class="inner-service-num"> <span class="first-text">精灵咨询</span> <span class="second-text">问题反馈</span> <span class="third-text">客服服务</span> <img class="tel-img" src="../../static/yys/image/code_number_578f944.png" alt="官方微博二维码"> </div>
        <div class="bottom-text"> 客服电话： <span style="font-family: Georgia;font-size: 20px;">95163919</span> </div>
      </div>
      <!--网易大神二维码-->
      <div class="dashen-qr">
        <div class="inner-dashen-qr"> <span class="second-text">和大神一起玩</span> <span class="third-text">网易大神</span> <img class="qr-code-positon" src="../../static/yys/image/code_wy_535cde5.jpg" alt="官方微博二维码"> </div>
        <div class="bottom-text"> 大神号： <span>网易阴阳师手游</span> </div>
      </div>
    </div>
  </div>
</div>
<!--底部-->
<div class="bottom-part"> 
  <!--圆圈二维码-->
  <div class="circle-qr">
    <div class="circle-box">
      <div class="circle-qr-code"></div>
      <div class="black-circle"></div>
    </div>
    <div class="shine"><img src="../../static/yys/image/bott_ewm_bing_3328825.png" alt=""></div>
  </div>
  <!--底部巴拉巴拉的各种介绍-->
  <div class="footer-footer">
    <div class="inner-footer-footer">
      <div class="footer-top">
        <div class="footer-logo"> <img src="../../static/yys/image/netease.2.png" alt=""> <img src="../../static/yys/image/nie.2.png" alt=""> <img src="../../static/yys/image/wen.png" alt=""> <img src="../../static/yys/image/wen2.png" alt=""> </div>
        <span class="nie-cn-nav"> <i class="nie-cn-nav-i1"> <a href="http://gb.corp.163.com/gb/about/overview.html" target="">公司简介</a> - <a href="http://help.163.com/" target="">客户服务</a> - <a href="http://gb.corp.163.com/gb/legal.html" target="">相关法律</a> - <a href="http://game.163.com/about/" target="">网易游戏</a> - <a href="http://game.163.com/contact/" target="">联系我们</a> - <a href="http://game.163.com/contact/business.html" target="">商务合作</a> - <a href="http://hr.game.163.com/index.html" target="">加入我们</a> - <a href="http://update.unisdk.163.com/html/latest_v5.html" target="">用户协议</a> </i> <i class="nie-cn-nav-i2"> 网易公司版权所有 ©1997-2019 <a class="nie-cn-guardianship" href="https://jiazhang.gm.163.com/" target="">点击查看家长监护工程 &gt; </a> </i> </span> </div>
      <br/>
      <br>
      <br>
      <div class="nie-cn-part2">
        <p>本游戏适合16岁以上的玩家进入。</p>
        <p>积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。</p>
        <a href="http://game.163.com/news/2010/6/9/442_216957.html" target="">《网络游戏管理暂行办法》</a> <span>文网游备字【2016】M-RPG4708号</span> <span>《网络文化经营许可证》</span> <span>浙网文[2019]1372-138号</span> <span>批准文号：新广出审【2017】6710号</span> <span>出版物号：ISBN 978-7-7979-9973-1</span> <a href="https://game.16163.com/report/" target="">违法及不良信息举报中心</a> </div>
    </div>
  </div>
</div>
<script src="../../static/yys/js/my-animate.js"></script>
</body>
</html>
